/****************************************************/
*{
	box-sizing: border-box; /* makes it easier to resize elements*/
	padding: 0;
	margin: 0;
}
body {
	font-family: "Josefin Sans", sans-serif;
}
/****************************************************/
.navbar {
	font-size: .9em;
	background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
	/*border: 1px solid rgba(0,0,0,0.2);*/
	padding-bottom: 10px;
	/*this below makes the header fixed*/
	display: flex;
	position: fixed;
	top:0;
	left:0;
	right:0;
}

.main-nav {
	list-style-type: none;
	display: none;
	margin-right: 50px;
}

.main-nav li{
	text-align: center;
	margin: 15px auto;
}

.logo {
	display: inline-block;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 20px;
}

.nav-links, .logo {
	text-decoration: none;
	color: rgba(255,255,255, 0.7);
}

.navbar-toggle{
	position:absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
	color: rgba(255,255,255,.8);
	font-size: 2em;

}

.active {
	display: block;
}


/****************************************************/
.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-auto-rows: 150px;
	grid-gap: 15px;
	/*grid-auto-flow: dense;*/
	max-width: 1400px;
	margin: 0 auto;
	width: auto;
	margin-top: 75px;
}

.square_img{
	grid-column: span 2;
	grid-row: span 2;
	border-radius: 5px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

/* to fit the image into the div, set it to be as wide and tall as the item itself
and then use object-fit: cover to make the img cover its entire container*/
.container > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/************************** MEDIA QUERIES **************************/
@media screen and (min-width: 768px) {
	.navbar{
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 60px;
		align-items: center;
		font-size: 1em;
	}

	.main-nav {
		display: flex;
		margin-right: 50px;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav li {
		margin: 0;
	}

	.nav-links {
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
		margin-left: 50px;
	}

	.navbar-toggle {
		display: none;
	}

	.logo:hover, .nav-links:hover {
		color: white;
	}

	footer{
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: pink;
}

.footer-nav {
	display: flex;
	margin: 0 auto;
	width: auto;
}

.footer-nav li {
	text-align: center;
	list-style-type: none;
}
}

@media screen and (min-width: 1400px){

}